<a class="btn btn-ghost" href="#">View the Cocktails</a>
<a class="btn btn-flat" href="#">Web Store</a>
<a class="btn btn-gradient" href="#">Virtual Cocktail Events</a>

<h1>Your choice</h1>

<div class="container">
<%= simple_form_for [@cocktail] do |f| %>

  <%= f.input :name %>
  <%= f.button :submit %>
<% end %>